<div class="dashboard-inner-wrap">
  <div class="search-container">
    <nb-source-search></nb-source-search>
  </div>
  <div class="dashboard-container">
    <nb-source-container *ngFor="let source of sources | filter:currentPage:recordsPerPage"
                         [source]="source"
                         [onSubscribe]="onSubscribeFn"></nb-source-container>
  </div>
  <nb-pagination [routeLink]="paginationRoute"
                 [length]="paginationLength"
                 [current]="currentPage"></nb-pagination>
</div>
