<div class="dashboard-inner-wrap">
  <div class="search-container">
    <nb-source-search></nb-source-search>
  </div>
  <i class="fa fa-spinner fa-spin" *ngIf="!isComponentReady"
     style="font-size:34px; width: 34px; align-self: center"></i>
  <div *ngIf="isComponentReady" class="dashboard-container">
    <nb-source-container *ngFor="let source of sources | filter:currentPage:recordsPerPage"
                         [source]="source"
                         [onSubscribeCb]="onSubscribeFn"></nb-source-container>
  </div>
  <nb-pagination *ngIf="isComponentReady"
                 [routeLink]="paginationRoute"
                 [length]="paginationLength"
                 [current]="currentPage"></nb-pagination>
</div>
