* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

ul.flat-list {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  & > li {
    margin-right: 10px;
    
    & > a {
      text-decoration: none;
    }
    
    & > a.active {
      text-decoration: underline;
    }
  }
}
